.header { background-color: black; display: flex; justify-content: center; }
.main-body { display: flex; justify-content: center; background-color: black; }
.body {  text-align: center; display: flex; justify-content: center; flex-flow: column; gap: 60px; }
.navi-bar { width: 1440px; height: 174px; background-color:  black;
    aqua; display: flex; position: relative;}
.logo { width: 180px; height: 51px; position: absolute; top: 85px; left: 80px; font-size: 30PX;  color: #75BF7A; border: 0.44px solid #WHITE ;}
.one { width: 47px;
    height: 21px;
    top: 102px;
    left: 771px;
    position: absolute;
 }
.menu-links { font-family: Gilroy;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
     }
.two { width: 120px;
    height: 21px;
    position: absolute;
    top: 102px;
    left: 864px;
}
.three { width: 101px;
    height: 21px;
    position: absolute;
    top: 102px;
    left: 1030px;
     }

.four{ width: 127px;
    height: 27px;
    position: absolute;
    top: 99px;
    left: 1206px;
    font-family: Gilroy;
    background-color:  #75BF7A;
    color: black ;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
border: 1px solid black;
text-align: center;
     }     
.vito { color: white; }
.p { width: 557px;
    height: 198px;
    top: 337px;
    left: 80px;
    font-family: Gilroy;
font-size: 61px;
font-weight: 800;
line-height: 66px;
letter-spacing: 0em;
text-align: left;
     }
.right-side { width: 553px;
    height: 582.81px;
    top: 228.83px;
    left: 740px;
     } 
.small-p { width: 550px;
    height: 120px;
    top: 562px;
    left: 80px;
    color: #9E9DA2;
    ;
     }
 .sides { display: flex; }    
 .button-linkings { display: flex; }
.button-one { width: 260px;
    height: 66.77px;
    top: 744px;
    left: 80px;
    border-radius: 5px;
    background: white;
display: flex;
justify-content: center;
align-items: center;
     }
.button-one > img { width: 45px;
    height: 39.89px;
    top: 756.77px;
    left: 112px;
    padding: 5.01px, 6.72px, 4.99px, 7.5px;
    }
.button-two {
    margin-left: 15px;
     width: 260px;
    height: 67px;
    top: 744px;
    left: 370px;
    border-radius: 5px;
    background-color: white;
    display: flex;
justify-content: center;
align-items: center;
     } 
.button-two > img { width: 34.17px;
    height: 34.17px;
    top: 3.42px;
    left: 3.42px;
     }
.img-heading { width: 141px;
    top: 776px;
    left: 167px;
    font-family: Gilroy;
font-size: 25px;
font-weight: 800;
letter-spacing: 0em;
text-align: left;
    }    
.imgi-heading { width: 141px;
    top: 777px;
    left: 456px;
    font-family: Gilroy;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
     }
.greek{  width: 100%; display: flex; justify-content: center; align-items: center; }
.green{ width: 1280px;
    height: 166px;
    top: 897px;
    left: 80px;
    border-radius: 10px;
    background-color: #75BF7A;
    display:flex; align-items: center; justify-content: center;
    padding-right: 50px;
    }
.g-p { width: 246px;
    height: 56px;
    top: 952px;
    left: 152px;
    font-family: Gilroy;
font-size: 25px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
     }
.g-inp { width: 499px;
    height: 67px;
    top: 717px;
    left: 520px;
    border-radius: 4.39px;
     }
.g-btn { 
    width: 260px;
    height: 67px;
    top: 947px;
    left: 1030px;
    border-radius: 4.39px;
    background-color: black;
}
.btn { width: 165px;
    top: 981px;
    left: 1082px;
    font-family: Gilroy;
font-size: 22px;
font-weight: 800;
letter-spacing: 0em;
text-align: left;

     }
.gappu { margin-left: 15px; }
.question-div { width: 100%; display: flex; justify-content: center; align-items: center; }
.question { width: 440px;
    height: 51px;
    top: 1191px;
    left: 518px;
    font-family: Gilroy;
font-size: 46px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
     }
.span { color:#75BF7A; }
.answer-div { width: 100%; display: flex; justify-content: center; align-items: center; }
.answer { width: 620px;
    height: 96px;
    top: 1267px;
    left: 410px;
    font-family: Gilroy;
font-size: 23px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color:#9E9DA2;
     }
.main-m-pdfs { justify-content: center; align-items: center; } 
.main-pdfs { position: relative; }
.a-uno { position: absolute; width: 166px;
    height: 51px;
    top: 1127px;
    left: 514px;
    font-family: Gilroy;
font-size: 22px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: right;
     }
.b-uno { position: absolute; width: 290px;
    height: 91px;
    top: 1178px;
    left: 390px;
    font-family: Gilroy;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: right;
     }
.a-duo { position: absolute; width: 127px;
    height: 51px;
    top: 1127px;
    left: 1160px;
    font-family: Gilroy;
font-size: 22px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
     }
.b-duo { position: absolute; width: 290px;
    height: 91px;
    top: 1178px;
    left: 1160px;
    font-family: Gilroy;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
     }
.a-tress { position: absolute; width: 250px;
    height: 51px;
    top: 1418px;
    left: 430px;
    font-family: Gilroy;
font-size: 22px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: right;
     }
.b-tress { position: absolute; width: 290px;
    height: 91px;
    top: 1469px;
    left: 390px;
    font-family: Gilroy;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: right;
     }   
     
.a-fior { position: absolute; width: 206px;
    height: 51px;
    top: 1418px;
    left: 1160px;
    font-family: Gilroy;
font-size: 22px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
     }    
.b-fior { position: absolute; width: 290px;
    height: 91px;
    top: 1469px;
    left: 1160px;
    font-family: Gilroy;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
     }
.circular { position: absolute; width: 400px;
    height: 400px;
    top: 1106px;
    left: 720px;
    border-radius: 50%;
    background-color: #75BF7A; }
.mute-space { height: 400px; }
.upper-hand { color: white; }
.lower-hand { color: #9E9DA2; }
.doted-line { display: flex; padding-left: 570px; } 
.ted-line { width: 65px;
    height: 12.77px;
    top: 2045.32px;
    left: 688px;
    padding: 0px, 0px, 0px, 0px; 
    background-color: #75BF7A; 
    display: flex; justify-content: center; align-items: center;
     }